/* =========================
    Base Styles
========================= */
body {
  background-color: #b0d9dc;
  display: grid;
  place-items: center;
  height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url(images/Paper\ Texture.png);
  background-color: #b0d9dc;
  background-blend-mode: multiply;
  opacity: 20%;
  background-size: cover;
}

.cover-up {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url(images/Paper\ Texture.png);
  background-color: #b0d9dc;
  background-blend-mode: multiply;
  opacity: 80%;
}

.cover-up-state2 {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 2;
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url(images/Paper\ Texture.png);
  background-color: #b0d9dc;
  background-blend-mode: multiply;
  opacity: 100%;
  transition: all 5s ease;
}

.touch-field {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
}

.left-field {
  /* background-color: #FFB5BB; */
  height: 100vh;
  width: 50%;
}

.right-field {
  /* background-color: aqua; */
  height: 100vh;
  width: 50%;
}

.ghost-scaler {
     animation: scaler 15s linear infinite;
}

/* .ghost-lateral-move {
     animation: lateral-move 15s linear infinite;
} */

.ghost-move-right{
    animation: move-right 3s ease 1;
}

.ghost-move-left{
    animation: move-left 3s ease 1;
}

/* =========================
    Utility Classes
========================= */
.z1 {
  z-index: 1;
}

/* =========================
    Ghost Styles
========================= */
.ghost {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1.5);
  animation: levitate 3s ease infinite;
}

.ghost-color {
  background-color: #FFB5BB;
}

.texture {
  background-image: linear-gradient(180deg, rgba(255, 181, 187, 1) 30%, rgb(199, 112, 119) 100%), url(images/Paper\ Texture.png);
  background-blend-mode: multiply;
  opacity: 100%;
  background-size: cover;
}

/* =========================
    Head & Face
========================= */
.head {
  position: absolute;
  top: -40px;
  left: 50px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px;
  border-radius: 100%;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
}

.face {
  position: absolute;
  top: 5px;
  left: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  overflow: visible;
}

.face-state2 {
  position: absolute;
  top: 5px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  overflow: visible;
}

.eye-row,
.eyebrow-row {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.eye {
  background-color: white;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  animation: blink 3s ease infinite;
}

.eyebrow {
  background-color: black;
  height: 5px;
  width: 15px;
  border-radius: 100%;
  animation: blink 3s ease infinite;
}

/* =========================
    Features
========================= */
.heart {
  position: absolute;
  z-index: 3;
  top: 3rem;
  left: 6rem;
  height: 3.5rem;
  width: 3.5rem;
  filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, .5));
}

.heart-state2 {
  position: absolute;
  z-index: 3;
  top: 3rem;
  left: 6rem;
  height: 3.5rem;
  width: 3.5rem;
  filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, .5));
  animation: pulse 1s ease 1;
}

.mouth {
  position: absolute;
  z-index: 3;
  top: 2.25rem;
  left: 1.25rem;
  height: 3rem;
  width: 3rem;
  filter: drop-shadow(0 1.5rem 1rem rgba(0, 0, 0, .5));
}

/* =========================
    Body
========================= */
.body-piece {
  height: 50px;
  width: 150px;
  border-radius: 100px;
}

.body1 {
  position: relative;
  top: 30px;
  left: 15px;
  height: 60px;
  width: 120px;
  border-radius: 100px 80px 100px 60px;
  background-color: #FFB5BB;
  background-image: url(images/Paper\ Texture.png);
  background-blend-mode: multiply;
  opacity: 100%;
  background-size: cover;
}

.body2 {
  height: 100px;
  box-shadow: 0 4rem 3rem rgba(0, 0, 0, .3);
  border-radius: 100px 10px 100px 0;
}

/* =========================
    Arm
========================= */
.arm {
  position: absolute;
  z-index: 0;
  top: 20px;
  left: 75px;
  height: 100px;
  width: 50px;
  transform-origin: top left;
  transform: scaleX(1) rotate(65deg);
  border-radius: 75% 0 120% 15%;
  box-shadow: 2rem 0rem 3rem rgba(0, 0, 0, .3);
  transition: all 2s ease;
}

.arm-state2 {
  position: absolute;
  z-index: 0;
  top: 20px;
  left: 75px;
  height: 100px;
  width: 50px;
  transform-origin: top left;
  transform: scaleX(1) rotate(65deg);
  border-radius: 75% 0 120% 15%;
  animation: wave 2s ease 5;
  box-shadow: 2rem 0rem 3rem rgba(0, 0, 0, .3);
  transition: all 2s ease;
}

/* =========================
    Animations
========================= */
@keyframes wave {
  0% {
     transform: rotate(65deg);
  }
  50% {
     transform: rotate(135deg);
  }
  100% {
     transform: rotate(65deg);
  }
}

@keyframes blink {
  0%, 80% {
     transform: scaleY(1);
  }
  90% {
     transform: scaleY(0);
  }
  100% {
     transform: scaleY(1);
  }
}

@keyframes levitate {
  0% {
     transform: translateY(0) scale(1.5);
  }
  50% {
     transform: translateY(-3rem) scale(1.575);
  }
  100% {
     transform: translateY(0) scale(1.5);
  }
}

@keyframes move-right {
    0% {
         transform: translateX(0) scaleX(1);
    }
    25% {
        transform: translateX(600%) scaleX(1);
    }
    26% {
        transform: translateX(600%) scaleX(-1);
    }
    50% {
         transform: translateX(0) scaleX(-1);
    }
    51% {
         transform: translateX(0) scaleX(1);
    }
}

@keyframes move-left {
    0% {
         transform: translateX(0) scaleX(-1);
    }
    25% {
        transform: translateX(-600%) scaleX(-1);
    }
    26% {
        transform: translateX(-600%) scaleX(1);
    }
    50% {
         transform: translateX(0) scaleX(1);
    }
    51% {
         transform: translateX(0) scaleX(1);
    }
}


@keyframes lateral-move {
    0% {
         transform: translateX(0) scaleX(1);
    }
    25% {
        transform: translateX(1000%) scaleX(1);
    }
    26% {
        transform: translateX(1000%) scaleX(-1);
    }
    50% {
         transform: translateX(0) scaleX(-1);
    }
    75% {
         transform: translateX(-1000%) scaleX(-1);
    }
    76% {
         transform: translateX(-1000%) scaleX(1);
    }
    100% {
         transform: translateX(0%) scaleX(1);
    }
}

@keyframes scaler {
    0% {
        transform: translateY(0) scale(.75);
    }
    25% {
        transform: translateY(4rem) scale(.75);
    }
    26% {
        transform: translateY(8rem) scale(3);
    }
    50% {
        transform: translateY(32rem) scale(3);
    }
    75% {
        transform: translateY(8rem) scale(3);
    }
    76% {
        transform: translateY(4rem) scale(.75);
    }
    100% {
        transform: translateY(0) scale(.75);
    }
}

@keyframes pulse {
   0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

